#============= init ==============
allow init cameraserver:fd use;
allow init device:chr_file { ioctl open read write };
allow init fingerprintd:binder { transfer call };
allow init fingerprintd_data_file:file rename;
allow init fingerprintd_service:service_manager add;
allow init graphics_device:chr_file ioctl;
allow init gx_fpd_device:chr_file { write ioctl };
allow init hal_fingerprint_hwservice:hwservice_manager add;
allow init hal_graphics_allocator_default:fd use;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init ion_device:chr_file ioctl;
allow init ion_device:chr_file { ioctl write };
allow init mnt_user_file:lnk_file read;
allow init property_socket:sock_file write;
allow init sdcardfs:dir search;
allow init sensorservice_service:service_manager find;
allow init servicemanager:binder { call transfer };
allow init smd_device:chr_file { ioctl write };
allow init storage_file:lnk_file read;
allow init sysfs_devices_system_cpu:dir write;
allow init system_file:file execute_no_trans;
allow init system_server:binder call;
allow init system_server:fd use;
allow init system_server:unix_stream_socket { read write };
allow init tee_device:chr_file ioctl;
allow init tee_device:chr_file { ioctl write };
allow init vendor_file:file execute_no_trans;
allow init video_device:chr_file { ioctl write };
