#============= qti_init_shell ==============
allow qti_init_shell proc:dir setattr;
allow qti_init_shell sysfs:file write;
allow qti_init_shell sysfs_devices_system_cpu:dir write;
